{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
<!-- <style>
  input[type=text] {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  }
</style> -->
  <div class="form-group">
    <h4>Search list of Personnel</h4>
      <form action="/search" method="post">
        <p>Search User data by Internal Reference</p>
        <input type="text" name="query" placeholder="Internal Reference ID">
        <input type="submit" value="Search User">
        <input type="reset" value="Reset">
      </form>
  </div>
  <h1 align="center">Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>

  {% endblock %}