{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<head>
  <style>
    body {
      background-color: rgb(125, 125, 125);
    }
  </style>
</head>
<form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <strong><label for="email">Email Address</label></strong>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <strong><label for="password">Password</label></strong>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
