<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}Update{% endblock %}</title>
  <style>
    body {
      background-color: rgb(125, 125, 125);
    }

    ul {
      color: aliceblue;
    }

    div.updated {
      margin-left: 450px;
      margin-top: 200px;
    }
  </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <button onclick="history.back()">Back</button>
        </div>
      </div> 
    </nav>
    <div class="updated">
      <h1 style="margin-left: 40px;">Successfully Updated</h1>
        <ul>
          {% for key, value in updated_data.items() %} 
            {{ key }}: {{ value }}<br>
            <!-- <li>{{ data }}</li> -->
          {% endfor %}
        </ul>
    </div> 
  </body>
</html>